% setdefault('napaka', '')
% setdefault('naslov', '')
% setdefault('znacka', 0)
% rebase('base.html', napaka=napaka, naslov=naslov)

<br>
<div class="container">
    <div class="container bg-dark border border-white rounded p-3 m-3">
        <div class="row p-3">
            <p>
                Dobrodošli v poglobljeno analizo svetovnih prenstev v nogometu!
                Ta platforma je bila zasnovana z željo po boljšem razumevanju statistik svetovnih prvenstev v nogometu.
            </p>
            <h4>Hall of Fame</h4>
            <p>
                Predstava statistik najbolj uspešnih ekip, strelcev in vratarjev. Tako uspešni nogometaši si zaslužijo svojo spletno stran!
            </p>

            %if znacka != 0:
            <h4>Turnirji</h4>
            <p>
                Vsako svetovno prvenstvo je edinstveno, polno nepozabnih trenutkov in izjemnih zmag.
                V tej sekciji lahko najdete statistike o porazdelitvi golov na svetovnih prvenstvih, število srečanj na raznih turnirjih in še veliko več.
            </p>
            <h4>Države</h4>
            <p>
                Nogomet je šport, ki osrečuje ter povezuje narode. 
                V sekciji "Države" lahko raziskujete podatke, povezane z vsako sodelujočo državo. 
                Odkrijte, katere države so bile najuspešnejše ter kako so se odrezale skozi čas.
            </p>
            <h4>Igralci</h4>
            <p>
                V tej sekciji so predstavljene statistike posameznih nogometašov.
                Tu lahko najdete vizualizacije o najboljših strelcih na svetovnih prvenstvih ter spremljate število nastopov skozi njihovo kariero.
            </p>
            <h4>Profil</h4>
            <p>
                Tu lahko vidite informacije o vašem profilu ter spremenite geslo, če želite.
            </p>
            % else:
            <h4>Več vizualizacij</h4>
            <p>
                Za več vizualizacij se morate prijaviti. Če še nimate računa, se brž registrirajte!
            </p>
            %end

        </div>
    </div>
</div>
