% setdefault('napaka', '')
% setdefault('naslov', '')
% setdefault('znacka', 0)
% rebase('base.html', napaka=napaka, naslov=naslov)

<body>
    <style>
        .grid-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 10px;
          height: 1000px;
        }
    
        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
    
    </style>

%if znacka != 0:
<div class="grid-container">
<iframe id="igraph1" scrolling="no" seamless="seamless" src="{{url('/tour_c')}}" height="500px" width="50%"></iframe>
<iframe id="igraph4" scrolling="no" seamless="seamless" src="{{url('/goals_country')}}" height="500px" width="100%"></iframe>
<iframe id="igraph2" scrolling="no" seamless="seamless" src="{{url('/awards_country')}}" height="500px" width="50%"></iframe>
<iframe id="igraph4" scrolling="no" seamless="seamless" src="{{url('/position')}}" height="500px" width="50%"></iframe>
</div>

<div class="grid-container" style="display: grid; grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(1, 1fr); gap: 10px; height: 500px;">
    <iframe id="igraph3" scrolling="no" seamless="seamless" src="{{url('/age_tournament')}}" height="50%" width="50%"></iframe>

</div>

% else:

<p>
    Za ogled te sekcije se morate prijaviti!
</p>
  
%end

</body>