% setdefault('napaka', '')
% setdefault('naslov', '')
% setdefault('znacka', 0)
% rebase('base.html', napaka=napaka, naslov=naslov)

<iframe id="igraph1" scrolling="no" seamless="seamless" src="{{url('/tour_c')}}" height="50%" width="50%"></iframe>

<iframe id="igraph2" scrolling="no" seamless="seamless" src="{{url('/awards_country')}}" height="50%" width="50%"></iframe>

<iframe id="igraph3" scrolling="no" seamless="seamless" src="{{url('/age_tournament')}}" height="50%" width="50%"></iframe>

<iframe id="igraph4" scrolling="no" seamless="seamless" src="{{url('/goals_country')}}" height="50%" width="50%"></iframe>

<iframe id="igraph5" scrolling="no" seamless="seamless" src="{{url('/position')}}" height="50%" width="50%"></iframe>
