% setdefault('napaka', '')
% setdefault('naslov', '')
% setdefault('znacka', 0)
% rebase('base.html', napaka=napaka, naslov=naslov)


<body>
    <div id="top-left" class="container">
        <iframe id="igraph1" scrolling="no" seamless="seamless" src="{{url('/wins')}}" height="50%" width="50%"></iframe>
    </div>

    <div id="top-right" class="container">
        <iframe id="igraph2" scrolling="no" seamless="seamless" src="{{url('/goals')}}" height="50%" width="50%"></iframe>
    </div>

    <div id="bottom-left" class="container">
        <iframe id="igraph3" scrolling="no" seamless="seamless" src="{{url('/cs')}}" height="50%" width="50%"></iframe>
    </div>

    <div id="bottom-right" class="container">
        <iframe id="igraph4" scrolling="no" seamless="seamless" src="{{url('/app')}}" height="50%" width="50%"></iframe>
    </div>
</body>

