% setdefault('napaka', '')
% setdefault('naslov', '')
% setdefault('znacka', 0)
% rebase('base.html', napaka=napaka, naslov=naslov)

<body>
    <style>
        .grid-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 10px;
          height: 1000px;
        }
    
        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
    
    </style>

<div class = "grid-container">

<iframe id="igraph1" scrolling="no" seamless="seamless" src="{{url('/goals_p')}}" height="100%" width="100%"></iframe>

<iframe id="igraph1" scrolling="no" seamless="seamless" src="{{url('/bookings_p')}}" height="100%" width="100%"></iframe>

<iframe id="igraph1" scrolling="no" seamless="seamless" src="{{url('/awards_p')}}" height="100%" width="100%"></iframe>

<iframe id="igraph1" scrolling="no" seamless="seamless" src="{{url('/scatter_p')}}" height="100%" width="100%"></iframe> 

</div>

</body>