% rebase("osnova.html", naslov="Predstavitev Vizualizacij")

<div class="row">
    <div class="col-md-12">
        <h3>Tu bodo predstavljene vizualizacije!</h3>
        <p>Po koncu razvijanja grafov pa bo uporabnik z vlogo *novinec* lahko videl samo par grafov, 
            uporabnik z vlogo *entuziast* bo videl več grafov, uporabnik z vlogo *ekspert* pa bo jih bo videl največ.
        </p>
    </div>
</div>

<center><iframe src = "./graphs/goals.html" height="800" width="1200" frameborder = "0"></iframe></center>
