%rebase('osnova.html', naslov='Prijava', stran='prijava')

<form action="{{url('registracija')}}" method="POST" style="width:60%">
  <div class="form-group">
    <label for="vloga">Ime vloge, v kateri si boste ogledali vizualizacije</label>
    <select class="form-control" name="vloga">
      <option value="novinec">Novinec</option>
      <option value="entuziast">Entuziast</option>
      <option value="ekspert">Ekspert</option>
    </select>
  </div>

  <div class="form-group">
    <label for="ime">Prosim vnesite vaše ime</label>
    <input type="input" class="form-control" name="ime" value="Tjaz" required>
  </div>

  <div class="form-group">
    <label for="priimek">Prosim vnesite vaš priimek</label>
    <input type="input" class="form-control" name="priimek" value="Erzen" required>
  </div>

  <div class="form-group">
    <label for="email">Prosim vnesite vaš e-poštni naslov, če ga želite. Na ta naslov boste prejeli potrditveni mail z
      registracijo</label>
    <input type="input" class="form-control" value="nogomet@gmail.com" name="email">
  </div>


  <div class="form-group">
    <label for="geslo">Prosim vnesite vaše geslo</label>
    <input type="password" class="form-control" name="geslo" required>
  </div>

  <div class="form-group">
    <label for="geslo_ponovno">Ponovno vnesite vaše geslo</label>
    <input type="password" class="form-control" name="geslo_ponovno" required>
  </div>

  <!-- Creating a dropdown list of all countries ...-->
  <div class="form-group">
    <label for="rojstna_drzava">Prosim vnesite vašo rojstno državo. TODO: Dodaj vse države, ko Val merga</label>
    <select class="form-control" name="rojstna_drzava">
      %for drzava in ['SLO', 'BIH', 'SRB', 'CRO', 'ALB']:
      <option value="{{drzava}}">{{drzava}}</option>
      %end
    </select>
  </div>

  <div class="form-group">
    <label for="trenutna_drzava">Prosim vnesite vašo državo, za katero navijate na svetovnih prvenstvih. TODO: Dodaj vse države, ko
      Val merga</label>
    <select class="form-control" name="trenutna_drzava">
      %for drzava in ['SLO', 'BIH', 'SRB', 'CRO', 'ALB']:
      <option value="{{drzava}}">{{drzava}}</option>
      %end
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Registriraj se</button>
</form>

%if napaka:
<p class="opozorilo">{{napaka}}</p>
%end
