/* styles.css */
.container {
    display: inline-block;
    width: 50%;
    height: 500px;
    box-sizing: border-box;
}

#top-left {
    float: left;
}

#top-right {
    float: right;
}

#bottom-left {
    float: left;
    clear: left;
}

#bottom-right {
    float: right;
    clear: right;
}